{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <p>Current cash balance: {{ cash | usd }}.</p>
    <form action="/deposit" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="$0.00" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password" aria-describedby="passwordHelpBlock">
        </div>
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
{% endblock %}
